
.header{
    
     background: #12406F;
    /*display: flex;
    justify-content: space-around;
    color: white; */
    padding: 22px 0px;
}
.header__logo{
    font-size: 25px;
    color: white;
    font-weight: bold;
}
nav{
    display: flex;
    align-items: center;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu li {
    /* padding-left: 15px; */
    margin: 0 8px;
}
.nav-menu li a{
    font-size: 16px;
    font-family: 'FSAlbert';
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.nav-menu li a:hover{
    color: black;
}