* {
  margin: 0px;
  padding: 0px;
}
.App{
  overflow-x:hidden ;
  
}
.App-header{
  width: 100%;
}
.container{
  max-width: 1550px;
  margin: 0 auto;
  position: relative;
}
.row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-down{
  color: white;
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
}
.fa-search{
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 20px;
}
button{
  font-size: 16px;
  color: #12406F;
  background: white;
  padding: 12px 27px;
  border-radius: 16px;
  font-weight: 600;
}
li{
  list-style: none;
}
.section-one, .section-three{
  background-color: #EBEBEB;
}
.section-two{
  padding: 40px 0px 59px 0px;
}
.section-four{
  padding-top: 39px;
}
.footer__top{
  padding: 50px 0px 70px 0px;
  background-color: #12406F;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* background-image: url('./Image/footer.png'); */
}
.contact h2, .social-media h2 , .address h2{
  font-size: 21px;
  font-weight: bold;
  color: white;
  margin-bottom: 23px;
}
.contact p{
  color: white;
  font-size: 13px;
  font-weight: normal;
  padding-right: 5px;
  line-height: 1.6;
}
.social-media ul{
  display: flex;
  justify-content: space-between;
}
.social-media h2{
  text-align: center;
}
.social-media ul li a{
  font-size: 25px;
  width: 33px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
}
.address ul{
  padding-right: 20px;
}
.address ul li {
  display: flex;
  /* align-items: flex-end; */
  color: white;
  margin-bottom: 12px;
}
.address ul li img{
  padding-right: 20px;
}
.footer__bottom{
  text-align: center;
  background: #002F5F;
  color: white;
}